
/* unset some styles from the classic stylesheet */
@font-face {
    font-family: "Bizin Gothic Discord";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/BizinGothicDiscord-Regular.woff2") format("woff2");
}
/* unset some styles from the classic stylesheet */
@font-face {
    font-family: "Bizin Gothic Discord";
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/BizinGothicDiscord-Bold.woff2") format("woff2");
}

* {
    font-family: "Bizin Gothic Discord", sans-serif;
}

html {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    color: #E0E0E0;
    background-color: #333;
    display: block;
    justify-content: center;
    padding:0;
    margin:0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#main {
    position: relative;
    flex-direction: column;
    margin: 0 auto;
}

a.headerlink {
    visibility: hidden;
}

h1:hover>a.headerlink,
h2:hover>a.headerlink,
h3:hover>a.headerlink,
h4:hover>a.headerlink,
h5:hover>a.headerlink,
h6:hover>a.headerlink,
dt:hover>a.headerlink {
    visibility: visible;
}

h2 {
    font-size: 1.8em;
    color: #2980b9;
    border-bottom: 0.1em solid #2980b9;
    padding: 0.1em 1.0em;
    margin: 0.6em 0em;
    display: inline-block;
}

body a {
    color: #0072aa;
}

body a:visited {
    color: #6363bb;
}

body a:hover {
    color: #00b0e4;
}

nav {
    display: flex;
    gap: 0.4em;
    align-items: center;
    padding-right: 1em;
}

nav a {
    font-size: 1.4em;
    color: #1096d9;
    text-decoration: none;
    padding: 0.4em 0.6em;
}

nav a:visited {
    color: #1096d9;
}

nav p {
    font-size: 1.4em;
    color: #999;
    text-decoration: none;
    padding: 0.4em 0.6em;
    cursor: default;
}

nav a:hover {
    background-color: #21373a;
    color: #2faae8;
    border-radius: 0.3em;
}

/* 区切り線 */
nav .divider {
    height: 1.5em;
    width: 0.1em;
    background-color: #555;
}

h3 {
    margin: 0.4em 0em;
    font-size: 1.4em;
}

ul {
    padding-left: 0em;
    margin-top: 0em;
}

li {
    list-style: none;
}

li h3 {
    display: inline-block;
}

li h3::before {
    content: "・";
}

li p {
    padding-left: 1.4em;
}

.my-works {
    color: #E0E0E0;
    background-color: #000;
    text-decoration: none;
    padding: 0.2em 0.3em;
}

.my-works:visited {
    color: #E0E0E0;
    background-color: #000;
}

.my-works:hover {
    background-color: #18282a;
    color: #84d0f7;
    border-radius: 0.3em;
}

#header {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em 0em;
    margin: 0em;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(30, 30, 30, 0.9);
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
    position: fixed;
}

#header-title {
    display: flex;
    text-decoration: none;
}

#github-logo-white {
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
}

#x-logo-white {
    width: 1.2em;
    height: 1.2em;
    padding: 0.1em 0em;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
}

#qiita-icon-white {
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
}

#sns-link {
    display: flex;
    gap: 0.2em;
    font-weight: bold;
    color: #E0E0E0;
    text-decoration: none;
    padding: 0.3em 0.5em;
    line-height: 1.8em;
    margin-right: 0.4em;
}

#sns-link:hover {
    display: flex;
    gap: 0.2em;
    font-weight: bold;
    background-color: #18282a;
    color: #84d0f7;
    border-radius: 0.3em;
}

#footer {
    font-size: 1em;
    font-style: italic;
    text-align: center;
    padding: 0em 0em 2em 0em;
    color: #777;
}

.document {
    border-radius: 0.4em;
    background-color: #000;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.4);
}

#main-title {
    font-size: 2.25em;
    margin: 0.1em 0em 0em 1em;
    font-style: italic;
    color: #dfdfdf;
    align-items: center;
}

@media (max-width: 1023px) {
    html {
        font-size: 1.2rem;
    }

    .document {
        margin: 2em 2em;
        padding: 0em 2em 1em 2em;
    }

    #header,
    #blank {
        font-size: 0.9rem;
    }

    #blank {
        height: 6em;
        width: 100%;
    }

    #footer {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 1rem;
    }

    .document {
        margin: 2em 10em;
        padding: 2em;
        padding-top: 1.4em;
    }

    #header,
    #blank {
        font-size: 1rem;
    }

    #blank {
        height: 6em;
        width: 100%;
    }

    .highlight {
        margin-right: 6rem;
    }
}
